## Default set by github
.Rproj.user
.Rhistory
.RData
.Ruserdata
## More R stuff
*.Rproj
## Latex stuff
*.aux
*.log
src/auto/*
## Temp files
*~
*#
## Stuff specific to structure of this site
src/*.html
src/*_cache
src/*_files
